@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  overflow-y: auto; /* Ensures scrollbar appears only when needed */
}

#header {
  text-align: center;
  margin: 1rem auto 2rem;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
  display: block; /* Ensures no extra space from inline elements */
  margin: 0 auto; /* Center the image */
}

#header h1 {
  font-size: 1.5rem;
  margin-top: 0.5rem; /* Reduce spacing below image */
}

#user-input {
  padding: 1.5rem; /* Increased padding for a larger container */
  max-width: 35rem; /* Increased max-width for better spacing */
  margin: 2rem auto;
  border-radius: 6px; /* Slightly larger radius for a smoother look */
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.input-group {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;

  /* Allows inputs to wrap if needed */
  flex-wrap: wrap;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.75rem; /* Slightly increased for better readability */
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.75rem; /* Increased padding for better input size */
  border: 1px solid #76c0ae;
  border-radius: 0.4rem; /* Slightly rounded corners */
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

#result tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center {
  text-align: center;
}
